p {
	margin: 0px;
	padding: 0px;
	line-height: 18px;
}

body {
	font-family: verdana,sans-serif;
	color: #444;
	margin: 0pt;
	font-size: 11px;
	overflow: -moz-scrollbars-vertical;
	background: #D7E2E8 url('../images/pageBg.gif') repeat-x;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
	margin-top: 0pt;
	margin-right: 0pt;
	margin-bottom: 0pt;
	margin-left: 0pt;
	padding-top: 0pt;
	padding-right: 0pt;
	padding-bottom: 0pt;
	padding-left: 0pt;
}

h1 {
	font-size: 19px;
	line-height: 30px;
	font-family: Arial;
	margin: 0px;
	padding: 0px;
	font-weight: bold;
}

#content {
	width: 960px;
	margin: 0pt auto;
	padding: 0px;
}

#menuList li {
	position: relative;
	height: 42px;
	width: 187px;
	margin-bottom: 8px;
	cursor: pointer;
	list-style-type:none;
	background: url(https://img.alipay.com/pa/page/lifehelper-index/bg-panel-bottom.png) 0 -338px no-repeat;
}
#menuList li.current {
	height: 70px;
	border: none;
}
#menuList li .menu {
	overflow: hidden;
}
#menuList li h3 {
	font: normal 12px/34px ו;
	color: #808080;
	border: none;
	padding-left: 45px;
	margin-top: 5px;
	margin-left: 5px;
	background: transparent no-repeat;
	height: 34px;
	width: 135px;
	overflow: hidden;
}
#menuList li h3.ico-rot {
	background-image: url(../images/ui/icon-rot.png);
}
#menuList li h3.ico-green {
	background-image: url(../images/ui/icon-green.png);
}
#menuList li h3.ico-greenblue {
	background-image: url(../images/ui/icon-greenblue.png);
}
#menuList li h3.ico-orange {
	background-image: url(../images/ui/icon-orange.png);
}
#menuList li h3.ico-purple {
	background-image: url(../images/ui/icon-purple.png);
}
#menuList li h3.ico-yellow {
	background-image: url(../images/ui/icon-yellow.png);
}
#menuList li.current{
	background:none;
}
#menuList li.current h3 {
	font-size: 14px;
	color: #000;
	font-weight: bold;
	padding-left: 68px;
	width: 115px;
	height: 65px;
	background-position: 0px -37px;
	background-repeat: no-repeat;
}
#menuList li.current span {
	color: #757575;
	font-size: 9px;
}
#menuList li.current .menu {
	width: 210px;
	position: absolute;
	top: 0;
	left: 0;
	height: 75px;
	background: transparent url(https://img.alipay.com/pa/page/lifehelper-index/header-bg.png) no-repeat 0 0;
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="https://img.alipay.com/pa/page/lifehelper-index/header-bg.png", sizingMethod="scale");
	border: none;
	position: absolute;
}

.bg-webdesign {
	background-image: url(../images/bg/bg-webdesign.jpg);
	height: 510px;
}
.bg-application {
	background-image: url(../images/bg/bg-application.jpg);
	height: 540px;
}
.bg-seo {
	background-image: url(../images/bg/bg-seo.jpg);
	height: 515px;
}
.bg-grafic {
	background-image: url(../images/bg/bg-grafic.jpg);
	height: 480px;
}
.bg-outsouring {
	background-image: url(../images/bg/bg-outsouring.jpg);
	height: 435px;
}
.bg-web2 {
	background-image: url(../images/bg/bg-web2.jpg);
	height: 440px;
}
.bg-ria {
	background-image: url(../images/bg/bg-ria.jpg);
	height: 480px;
}
.bg-rcp {
	background-image: url(../images/bg/bg-rcp.jpg);
	height: 400px;
}
.bg-agile {
	background-image: url(../images/bg/bg-agile.jpg);
	height: 520px;
}
.bg-enterprise2 {
	background-image: url(../images/bg/bg-enterprise2.jpg);
	height: 520px;
}

.index-layout {
	width: 904px;
	padding: 0px;
	height: 100%;
}

.index-left {
	padding: 0px;
	float: left;
	width: 185px;
	border: none;
	background: transparent;
	margin: 0px;
	height: 100%;

}
.index-right {
	float: right;
	width: 700px;
	background-color: #e5e5e5;
	border: 1px #D2D2D2 solid;
	padding-bottom: 20px;
	margin-left: 10px;
	height: 100%;
}

#menu {
	height: 95px;
	width: 960px;
}

#top {
	background: url(../images/bg_top.gif) no-repeat;
	height: 30px;
}

#btm {
	background: url(../images/bg_btm.gif) no-repeat;
	height: 30px;
}

#stage {
	width: 904px;
	background: url(../images/bg.gif) repeat-y;
	padding: 1px 28px 20px;
	clear: left;
}

#menu .t_l, #menu .t_b, #menu .t_r {
	width: 24px;
	height: 95px;
	float: left;..
	background: url('/images/topL.gif') no-repeat;
}

#menu .t_b {
	width: 912px;
	background: url('../images/topBg.gif') repeat-x;
}

#menu .t_r {
	float: right;
	background: url('../images/topR.gif') no-repeat;
}

#menu .logo {
	float: left;
}

#menu .mm {
	float: right;
}

.mm UL {
	margin: 57px 0px 0px;
	padding: 0px;
}

.mm LI {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	display: inline;
	padding: 0px;
	margin: 0px;
}

.mm A {
	height: 38px;
	display: block;
	float: left;
	text-align: center;
	line-height: 38px;
	font-size: 15px;
	font-weight: bold;
	font-family: Arial;
	color: #555;
	text-decoration: none;
}

.mm .t_s_off {
	background: url('../images/tab_s_of.gif') no-repeat;
	width: 88px;
}

.mm .t_s_on {
	background: url('../images/tab_s_on.gif') no-repeat;
	width: 88px;
}

.mm .t_l_off {
	background: url('../images/tab_l_of.gif') no-repeat;
	width: 117px;
}

.mm .t_l_on {
	background: url('../images/tab_l_on.gif') no-repeat;
	width: 117px;
}

.stage {
	margin: 5px 5px 0px 35px;
}

img {
	border: 0px;
}

.f_Bg {
	background: url('../images/background.png') no-repeat bottom center;
	width: 894px;
	margin: 0px 0px 0px 5px;
	height: 390px;
}

.f_Bg .left {
	width: 410px;
	margin: 40px 0px 0px 25px;
	float: left;
}

.f_Bg .right {
	width: 360px;
	margin: 128px 0px 0px;
	float: right;
}

.f_Bg .right P {
	font-size: 10px;
}

.f_Bg .tour {
	margin: 0px 15px 0px 0px;
}

.f_btm H4 {
	line-height: 45px;
	margin-bottom: 15px;
	border-bottom-width: 2px;

border-bottom-style: solid;

border-bottom-color: #88cc33;
}

.f_btm .div {
	width: 83px;
	height: 225px;
	background: url('/images/f_div.gif') no-repeat center center;
	float: left;
}

.f_btm .itemA, .f_btm .itemB, .f_btm .itemC {
	width: 260px;
	float: left;
}
.f_btm .itemA {
	width: 250px;
	background: url('/images/award.gif') no-repeat bottom right;
	margin: 0px 0px 0px 5px;
}

.f_btm .itemB {
	width: 220px;
}

.f_btm .menu {
	color: #4970D5;
	margin: 20px 0px 0px;
}

.crumbs {
	color: #777;
	font-size: 10px;
}

.crumbs A {
	color: #777;
	text-decoration: none;
}

.crumbs A:hover {
	text-decoration: underline;
}

.form {
	background-color: #F2F6F9;
	border: 1px solid #D0D9E0;
	padding: 16px;
}

.form .i, .form .formBoxInner .sml {
	background-color: #F7F9FB;
	border: 1px solid #D0D9E0;
	width: 445px;
	padding: 4px;
}

.form .formBoxInner .sml {
	width: 212px;
}

.form .formBoxInner .div {
	width: 233px;
	float: left;
}

.form SELECT {
	background-color: #F7F9FB;
	border: 1px solid #D0D9E0;
	padding: 4px;
}

.formBoxInner {
	padding: 16px;
}

.form TEXTAREA {
	background-color: #F7F9FB;
	border: 1px solid #D0D9E0;
	width: 445px;
	padding: 4px;
	font-size: 11px;
}

html {
	overflow-y:scroll;
	overflow:-moz-scrollbars-vertical;
}
h4 {
	background: none;
	width: auto;
	position: static;
	height: auto;
	left: auto;
	text-align: left;
	line-height: normal;
	top: auto;
}

#footer {
	margin: 4px 22px 20px;
}

#footer UL {
	margin: 0px;
	padding: 0px;
}

#footer LI {
	list-style-image: none;
	display: inline;
}

#footer LI {
	font-size: 10px;
	color: #777777;
}

#footer LI A {
	color: #555;
	text-decoration: none;
}

#footer LI A:hover {
	text-decoration: underline;
}

#footer .copy {
	padding: 0px 5px 0px 0px;
}

#footer .footL {
	float: left;
}

#footer .footR {
	float: right;
}

.skype-button {
	 padding:4px 10px 3px 25px;
	 border:solid 1px #8AB134;
	 position:relative;
	 cursor:pointer;
	 display:inline-block;
	 background-image:url('../images/skype-bkg.png');
	 background-repeat:repeat-x;
	 font-size:11px;
	 height:16px;
	 text-decoration:none;
	 color:#40740D;
	 -moz-border-radius-bottomleft:5px;
	 -moz-border-radius-bottomright:5px;
	 -moz-border-radius-topleft:5px;
	 -moz-border-radius-topright:5px;
}
.skype-button img {
	 position:absolute;
	 top:-4px;
	 left:-12px;
	 border:none;
}
.skype-button:hover {
	 color:#8AB134;
} 

.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
/* End hide from IE-mac */

li.list {
	padding-bottom: 8px;
}
div.description{
	line-height: 150%;
}
div.description2-left{
	line-height: 150%;
	padding-top:25px;padding-left:25px;float:left;width:300px
}
div.description2-right{
	line-height: 150%;
	padding-top:25px;padding-left:45px;width:300px;float:left;
}

.oben-banner {
	height: 160px;
	width: 600px;
	padding-top: 25px;
	padding-left: 25px;
}





























.index-layout {
	width: 904px;
	padding: 0px;
	height: 100%;
}

.index-left {
	padding: 0px;
	float: left;
	width: 185px;
	border: none;
	background: transparent;
	margin: 0px;
	height: 100%;

}
.index-right {
	float: right;
	width: 700px;
	background-color: #e5e5e5;
	border: 1px #D2D2D2 solid;
	padding-bottom: 20px;
	margin-left: 10px;
	height: 100%;
}

#menu {
	height: 95px;
	width: 960px;
}

#top {
	background: url(../images/bg_top.gif) no-repeat;
	height: 30px;
}

#btm {
	background: url(../images/bg_btm.gif) no-repeat;
	height: 30px;
}

#stage {
	width: 904px;
	background: url(../images/bg.gif) repeat-y;
	padding: 1px 28px 20px;
	clear: left;
}

#menu .t_l, #menu .t_b, #menu .t_r {
	width: 24px;
	height: 95px;
	float: left;..
	background: url('/images/topL.gif') no-repeat;
}

#menu .t_b {
	width: 912px;
	background: url('../images/topBg.gif') repeat-x;
}

#menu .t_r {
	float: right;
	background: url('../images/topR.gif') no-repeat;
}

#menu .logo {
	float: left;
}

#menu .mm {
	float: right;
}

body {
	font-family: verdana,sans-serif;
	color: #444;
	margin: 0pt;
	font-size: 11px;
	overflow: -moz-scrollbars-vertical;
	background: #D7E2E8 url('../images/pageBg.gif') repeat-x;
}

h1 {
	font-size: 19px;
	line-height: 30px;
	font-family: Arial;
	margin: 0px;
	padding: 0px;
	font-weight: bold;
}

h2 {
	font-size: 16px;
	line-height: 26px;
	font-family: Arial;
	margin: 0px;
	padding: 0px;
	font-weight: bold;
}

h3 {
	font-size: 16px;
	line-height: 26px;
	font-family: Arial;
	margin: 0px;
	padding: 0px;
	font-weight: bold;
}

h4 {
	font-size: 14px;
	margin: 0px;
	font-weight: bold;
	font-family: Arial;
	line-height: 24px;
}

img {
	border: 0px;
}

A {
	outline: 0;
	color: #4970D5;
}

p {
	margin: 0px;
	padding: 0px;
	line-height: 18px;
}

form {
	margin: 0px;
	padding: 0px;
}


#content {
	width: 960px;
	margin: 0pt auto;
}

#top {
	background: url(../images/bg_top.gif) no-repeat;
	height: 30px;
}

#btm {
	background: url(../images/bg_btm.gif) no-repeat;
	height: 30px;
}

#stage {
	width: 904px;
	background: url(../images/bg.gif) repeat-y;
	padding: 1px 28px 20px;
	clear: left;
}

.msgWarn, .msgInfo {
	line-height: 34px;
	height: 34px;
	background: #FFE7E5 url('../images/msgWarn.gif') no-repeat 10px center;
	border-top: 1px solid #D14437;
	border-bottom: 1px solid #D14437;
	margin: 0px 0px 12px;
	padding: 0px 0px 1px 32px;
}

.msgInfo {
	background: #FDFFD9 url('../images/msgInfo.gif') no-repeat 10px center;
	border-top: 1px solid #F4CE66;
	border-bottom: 1px solid #F4CE66;
}

.msgWarn A, .msgInfo A {
	color: #444;
}

#footer {
	margin: 4px 22px 20px;
}

#footer UL {
	margin: 0px;
	padding: 0px;
}

#footer LI {
	list-style-image: none;
	display: inline;
}

#footer LI {
	font-size: 10px;
	color: #777777;
}

#footer LI A {
	color: #555;
	text-decoration: none;
}

#footer LI A:hover {
	text-decoration: underline;
}

#footer .copy {
	padding: 0px 5px 0px 0px;
}

#footer .footL {
	float: left;
}

#footer .footR {
	float: right;
}

.paging UL, .butOpts {
	margin: 0px;
	padding: 0px;
	height: 46px;
}

.paging UL {
	float: left;
}

.menuCont, .menuContAlt {
	padding: 15px 0px 0px;
	float: left;
	width: 696px;
}

.menuContAlt {
	padding: 34px 0px 0px;
}

#menu {
	height: 95px;
	width: 960px;
}

#menu .t_l, #menu .t_b, #menu .t_r {
	width: 24px;
	height: 95px;
	float: left;..
	background: url('/images/topL.gif') no-repeat;
}

#menu .t_b {
	width: 912px;
	background: url('../images/topBg.gif') repeat-x;
}

#menu .t_r {
	float: right;
	background: url('../images/topR.gif') no-repeat;
}

#menu .logo {
	float: left;
}

#menu .mm {
	float: right;
}

.mm UL {
	margin: 15px 0px 0px;
	padding: 0px;
}

.mm LI {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	display: inline;
	padding: 0px;
	margin: 0px;
}

.mm A {
	height: 38px;
	display: block;
	float: left;
	text-align: center;
	line-height: 38px;
	font-size: 15px;
	font-weight: bold;
	font-family: Arial;
	color: #555;
	text-decoration: none;
}

.mm .t_s_off {
	background: url('../images/tab_s_of.gif') no-repeat;
	width: 88px;
}

.mm .t_s_on {
	background: url('../images/tab_s_on.gif') no-repeat;
	width: 88px;
}

.mm .t_l_off {
	background: url('../images/tab_l_of.gif') no-repeat;
	width: 117px;
}

.mm .t_l_on {
	background: url('../images/tab_l_on.gif') no-repeat;
	width: 117px;
}

#top .sm {
	background: url('../images/smB.gif') repeat-x;
	height: 28px;
	float: left;
}

#top .sm UL {
	margin: 0px;
	padding: 0px;
}

.smL, .smR {
	background: url('../images/smL.gif') no-repeat;
	float: left;
	width: 12px;
	height: 28px;
}

.smL {
	margin: 0px 0px 0px 400px;
	display: inline;
}

.slogan{
	font-size: 14px;color: #fd822f;font-weight: bold;padding-top:25px;size:100%;text-align: right;
}

div.overTxtDiv {
	font-weight: bold;
	font-family: arial, helvetica, verdana;
	font-size: 12px;
	color: #999;
}
